</fieldset>

<fieldset class="box tabular">
<legend><%= l :label_worktimes %></legend>

<%= labelled_fields_for :pref, @user.pref do |pref| %>
  <% RedmineWorkload::DateTools.getWorkingDays.each do |d| %>
    <p><%= pref.text_field :"workload_hours_#{d}", required: true, label: day_name(d), size: 3 %></p>
  <% end %>
<% end %>
