<%
# Renders the workload data for one single issue.
# Parameters:
#  * user: The user to render the data for.
#  * workload: Workload instance that contains the summarized workload for
#    invisible issues.
%>

<% workload.each do |workload_day| %>
  <td class="<%= workload_day_class workload_day %>">
    <span><%= format_workload_hours workload_day.hours %></span>
  </td>
<% end %>
